![](../docs/banner.png)

# Pandas

## Exercises

In this set of practice exercises we'll be investigating the carbon footprint of different foods. We'll be leveraging a dataset compiled by [Kasia Kulma](https://r-tastic.co.uk/post/from-messy-to-tidy/) and contributed to [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday).

Start by importing pandas with the alias `pd`.

In [2]:
# Your answer here.
import pandas as pd

### 2.

The dataset we'll be working with has the following columns:

|column      |description |
|:-------------|:-----------|
|country       | Country Name |
|food_category | Food Category |
|consumption   | Consumption (kg/person/year) |
|co2_emmission | Co2 Emission (Kg CO2/person/year) |


Import the dataset as a dataframe named `df` from this url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>

In [3]:
# Your answer here.
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv'
df = pd.read_csv(url)

### 3.

How many rows and columns are there in the dataframe?

In [ ]:
# Your answer here.
print(df.shape)
print(df)

(1430, 4)

### 4.

What is the type of data in each column of `df`?

In [6]:
# Your answer here.
print(df.dtypes)

country           object
food_category     object
consumption      float64
co2_emmission    float64
dtype: object

### 5.

What is the mean `co2_emission` of the whole dataset?

In [ ]:
# Your answer here.
print("mean of co2_emmission is:", df["co2_emmission"].mean())

mean of co2_emmission is: 74.383993006993

### 6.

How many different kinds of foods are there in the dataset? How many countries are in the dataset?

In [11]:
# Your answer here.
print("the different kinds of foods are", df["food_category"].nunique()," in number and they are", df["food_category"].unique())
print()
print("countries in the dataset are", df["country"].nunique()," in number and they are", df["country"].unique())

the different kinds of foods are 11  in number and they are ['Pork' 'Poultry' 'Beef' 'Lamb & Goat' 'Fish' 'Eggs' 'Milk - inc. cheese'
 'Wheat and Wheat Products' 'Rice' 'Soybeans' 'Nuts inc. Peanut Butter']

countries in the dataset are 130  in number and they are ['Argentina' 'Australia' 'Albania' 'Iceland' 'New Zealand' 'USA' 'Uruguay'
 'Luxembourg' 'Brazil' 'Kazakhstan' 'Sweden' 'Bermuda' 'Denmark' 'Finland'
 'Ireland' 'Greece' 'France' 'Canada' 'Norway' 'Hong Kong SAR. China'
 'French Polynesia' 'Israel' 'Switzerland' 'Netherlands' 'Kuwait'
 'United Kingdom' 'Austria' 'Oman' 'Italy' 'Bahamas' 'Portugal' 'Malta'
 'Armenia' 'Slovenia' 'Chile' 'Venezuela' 'Belgium' 'Germany' 'Russia'
 'Croatia' 'Belarus' 'Spain' 'Paraguay' 'New Caledonia' 'South Africa'
 'Barbados' 'Lithuania' 'Turkey' 'Estonia' 'Mexico' 'Costa Rica' 'Bolivia'
 'Ecuador' 'Panama' 'Czech Republic' 'Romania' 'Colombia' 'Maldives'
 'Cyprus' 'Serbia' 'United Arab Emirates' 'Algeria' 'Ukraine' 'Pakistan'
 'Swaziland' 'Latvia' 'Bosnia and Herzegovina' 'Fiji' 'South Korea'
 'Poland' 'Saudi Arabia' 'Botswana' 'Macedonia' 'Hungary'
 'Trinidad and Tobago' 'Tunisia' 'Egypt' 'Mauritius' 'Bulgaria' 'Morocco'
 'Slovakia' 'Niger' 'Kenya' 'Jordan' 'Japan' 'Georgia' 'Grenada'
 'El Salvador' 'Cuba' 'China' 'Honduras' 'Taiwan. ROC' 'Angola' 'Jamaica'
 'Namibia' 'Belize' 'Malaysia' 'Zimbabwe' 'Guatemala' 'Uganda' 'Nepal'
 'Iran' 'Tanzania' 'Senegal' 'Peru' 'Nicaragua' 'Vietnam' 'Ethiopia'
 'Myanmar' 'Congo' 'Zambia' 'Cameroon' 'Madagascar' 'Malawi' 'Guinea'
 'Nigeria' 'Rwanda' 'Philippines' 'Ghana' 'Togo' 'Gambia' 'India'
 'Thailand' 'Mozambique' 'Cambodia' 'Sierra Leone' 'Sri Lanka' 'Indonesia'
 'Liberia' 'Bangladesh']

In [ ]:
print(df.head())

     country food_category  consumption  co2_emmission
0  Argentina          Pork        10.51          37.20
1  Argentina       Poultry        38.66          41.53
2  Argentina          Beef        55.48        1712.00
3  Argentina   Lamb & Goat         1.56          54.63
4  Argentina          Fish         4.36           6.96

### 7.

What is the maximum `co2_emmission` in the dataset and which food type and country does it belong to?

In [ ]:
# Your answer here.
max_emmission = df.groupby(["food_category","country"])["co2_emmission"].max()
print(max_emmission)

food_category             country
Beef                      Albania       694.30
                          Algeria       172.80
                          Angola        259.82
                          Argentina    1712.00
                          Armenia       606.67
                                        ...
Wheat and Wheat Products  Uruguay        20.85
                          Venezuela       9.38
                          Vietnam         2.00
                          Zambia          2.31
                          Zimbabwe        5.97
Name: co2_emmission, Length: 1430, dtype: float64

### 8.

How many countries produce more than 1000 Kg CO2/person/year for at least one food type?

In [ ]:
# Your answer here. 
df[["country","co2_emmission"]][df["co2_emmission"]>1000]

       country  co2_emmission
2    Argentina        1712.00
13   Australia        1044.85
57         USA        1118.29
90      Brazil        1211.17
123    Bermuda        1022.94

### 9.

Which country consumes the least amount of beef per person per year?

In [31]:
# Your answer here.

x = df.query('food_category == "Beef"')
x[['country','consumption']][x['consumption'] == x['consumption'].min()]

      country  consumption
1410  Liberia         0.78

### 10.

Which country consumes the most amount of soybeans per person per year?

In [35]:
# Your answer here.
df_soy = df[df["food_category"] == "Soybeans"]
df_soy[['country','consumption']][df_soy["consumption"] == df_soy["consumption"].max()]

          country  consumption
1010  Taiwan. ROC        16.95

### 11.

What is the total emissions of all the meat products (Pork, Poultry, Fish, Lamb & Goat, Beef) in the dataset combined?

In [ ]:
# Your answer here.
    
sum = df[df['food_category'].isin(["Pork","Poultry", "Fish", "Lamb & Goat", "Beef"])]['co2_emmission'].sum()
print(" total emissions of all the meat products (Pork, Poultry, Fish, Lamb & Goat, Beef) in the dataset is:", sum)

 total emissions of all the meat products (Pork, Poultry, Fish, Lamb & Goat, Beef) in the dataset is: 74441.13

### 12.

What is the total emissions of all other (non-meat) products in the dataset combined?

In [ ]:
# Your answer here.
sum = df[~df['food_category'].isin(["Pork","Poultry", "Fish", "Lamb & Goat", "Beef"])]['co2_emmission'].sum()
print("total emissions of all other (non-meat) products is:",sum)

total emissions of all other (non-meat) products is: 31927.98